body main {
    display: grid;
    place-items: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

.return-to-top {
    display: none;
    justify-content: center;
    left: 75px;
    bottom: 75px;
    z-index: 9999;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .5);
    transition: all ease-in-out 300ms;
}

.return-to-top img {
    max-width: 5%;
}

.return-to-top:hover {
    background-color: darkblue;
}

/* MEDIA QUERY */

@media (max-width: 767px) {
    #nav_menu {
        display: none;
    }

    #mobilemenu {
        display: block;
    }

    .return-to-top {
        left: 10px;
        bottom: 10px;
    }
}